DATABASE_URL="postgresql://postgres:onlyJesus@20@localhost:5000/ikhuku?schema=public"

# Connect to Supabase via connection pooling
DATABASE_URLss="postgresql://postgres.wpetxbbapyvgnsuzddgm:Ikhuku158866$@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.wpetxbbapyvgnsuzddgm:Ikhuku158866$@aws-0-us-west-1.pooler.supabase.com:5432/postgres"


JWT_SECRET="yP7r$2e&Xb!vF9k@TqZLm1n#UjG^pW4*D8HZsM+R6oYcE%bVwKtJxQ$N3a^L!7dP
"

EMAIL_USER=
EMAIL_PASS=
GOOGLE_CLIENT_ID="clientid.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID="com.yourapp.service"
APPLE_TEAM_ID=YourTEAMID
APPLE_KEY_ID= ----Begin private key ---- / --- your private key ---- / ---- ending private key -----
NEXT_PUBLIC_APPLE_REDIRECT_URL="http:localhost:3000/api/auth/callback/apple"
NEXT_PUBLIC_GOOGLE_REDIRECT_URL="http://localhost://3000/api/auth/callback/google"
NEXT_PUBLIC_FACEBOOK_APP_ID=